.centered-container {
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 20vh;
}

.text-input {
  border: 1px solid gray;
  padding: 0.5em;
  margin: 0.5em;
  width: 80%;
  text-align: center;
}

.submit-button {
  background-color: green;
  color: white;
  padding: 0.5em 1em;
  border: none;
  margin: 0.5em;
  width: 60%;
  text-align: center;
}

#user-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em;
  text-align: center;
}

#user-list-title {
  background-color: aliceblue;
  margin-bottom: 1em;
  font-size:1.5em;
  font-weight:bold;
  text-align: center;
}

#user-list {

  list-style-type: none;
  width: 95%;
  text-align: center;
  align-items: center;
}

.user {
  background-color: aliceblue;
  border: 1px solid gray;
  padding: 1em;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  align-items:center;
  text-align: center;
}

.userName {
  font-weight: bold;
  margin-bottom: 0.5em;
  font-size:1.2em;
  text-align: center;
}

.userAge {
  margin-bottom: 0.5em;
  font-size:1.2em;
  text-align: center;
}
h1 {
  text-align: center;
  font-weight: 100;
  font-size: 110;
  background-color: aliceblue;
}
